@import "~roboto-fontface/css/roboto/roboto-fontface.css";

@font-face {
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 11pt;
  font-weight: 300;
  /* font-size: 1em; */
}

html {
  background-color: rgb(250, 250, 250);
  cursor: default;
}

h3, .leftPanel > label {
  font-weight: 300 !important;
  color: dodgerblue;
  font-size: 16pt;
  cursor: default;
  -webkit-user-select: none;
}

ul, p, input, span, label, select {
  list-style: none;
  color: dimgrey;
  cursor: default;
  -webkit-user-select: none;
}

span {
  padding: 10px;
}

.TitleBar {
  width: 100vw;
  height: 30px;
  display: block;
  background-color: white;
  display: table;
  -webkit-app-region: drag;
}

.TitleBar p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: dodgerblue;
  font-weight: 300;
  font-size: 12pt;
  /* height: inherit; */
}

.MenuBar {
  width: 100vw;
  height: 8vh;
  display: block;
  background-color: white;
  /* background-color: rgb(250, 250, 250); */
  box-shadow: 0px 4px 4px rgb(230, 230, 230);
  /* border-radius: 2px; */
  margin-bottom: 10px;
  /* -webkit-app-region: drag; */
}

.Map {
  /* border-style: solid;
  border-width: 3px;
  border-color: lightgrey; */
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  border-radius: 2px;
  margin: 10px;
  width: calc(50vw - 40px);
  height: calc(77vh - 60px);
  float: left;
}

.Map > div {
  border-radius: 2px;
}

.Map > div > h3 {
  border-bottom: 1px solid dodgerblue;
  /* width: calc(12.5vw - 20px); */
  margin: 10px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 10px;
}

.Map > * {
  /* padding: 10px; */
}

.Map div * {
  padding: 10px;
}

.Map div svg {
  padding: 0px;
}

.Drawing {
  padding: 0;
  height: inherit;
  width: inherit;
}

.Node {
  margin: 0;
  padding: 0;
  /* margin: 10px; */
  /* fill: rgb(240, 240, 240); */
  fill: lightgrey;
  /* fill: dimgrey; */
  stroke: rgb(230, 230, 230);
  stroke-width: 1px;
  /* transition: fill 0.2s ease-out; */
}

.Node:hover {
  /* fill: rgb(230, 230, 230); */
  /* transition: fill 0.1s ease-in; */
}

.SubNode {
  margin, padding: 0;
  /* fill: rgb(230, 230, 230); */
  fill: white;
  stroke: lightgrey;
  stroke-width: 1px;
  transition: stroke 0.1s ease-out, fill 0.05s ease-out;
}

.SubNode:hover {
  /* fill: dodgerblue; */
  stroke: dodgerblue;
  stroke-width: 1px;
  transition: stroke 0.1s ease-in;
}

#SubNodeSelected {
  /* fill: rgb(230, 230, 230); */
  fill: dodgerblue;
  stroke: dodgerblue;
  transition: fill 0.05s ease-in;
}

.DragPreview {
  width: calc((12.5vw - 50px));
  height: calc(15vh - 70px);
  padding: 10px;
  margin: 10px;
  border: 1px lightgray dashed;
  color: dimgrey;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label {
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  max-width: 150px;
  padding: 5px 10px !important;
  margin: 0 5px;
  border-radius: 2px;
  z-index: 2;
  color: dodgerblue;
  background: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  cursor: default;
  -webkit-user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftPanel {
  background-color: white;
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  border-radius: 2px;
  margin: 10px;
  margin-left: 20px;
  width: calc(25vw - 20px);
  height: calc(77vh - 60px);
  float: left;
  white-space: nowrap;
  /* display: grid; */
  /* grid-template-columns: 50% | 50%; */
  /* grid-template-rows: 10%; */
  /* display: table; */
  flex: 1;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.leftTabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: row;
}

.leftPanel > input {
  display: none;
  margin: 0;
}

.leftPanel > label {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
  /* padding: 10px; */
  margin-bottom: 0;
  /* margin-right: 0; */
  padding-bottom: 10px;
  flex-grow: 1;
  color: grey;
  border-bottom: 1px solid rgb(200, 200, 200);
  /* box-shadow: 0px 1px 5px rgb(200, 200, 200); */
  /* box-sizing: border-box; */
  /* display: flex;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
  align-items: center; */
}

input:checked + label {
  border-bottom: 1px solid dodgerblue;
  color: dodgerblue;
  /* background-color: white; */
  /* box-shadow: 0px 1px 5px rgb(200, 200, 200); */
}

.content {
  /* display: block; */
  /* flex-grow: 10; */
  /* display: table-row; */
  box-sizing: border-box;
  /* height: 100%; */
  /* border: 1px solid grey; */
  /* height: inherit; */
}

.content > div {
  display: none;
  /* flex-grow: 1; */
}

#tab1:checked ~ .content #tabFileList,
#tab2:checked ~ .content #tabSettings {
  display: block;
  /* flex-grow: 1; */
}

.FileListContainer, .Settings {
  /* border: 1px solid grey; */
  /* background-color: white; */
  /* box-shadow: 0px 1px 5px rgb(200, 200, 200); */
  border-radius: 2px;
  /* margin: 10px; */
  /* margin-left: 20px; */
  width: calc(25vw - 20px);
  height: calc(77vh - 100px);
  float: left;
  white-space: nowrap;
  /* flex-grow: 1; */
}

.Settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  /* height: calc(77vh - 120px); */
}

.FileList {
  margin: 10px;
}

.FileListContainer > * {
}

.FileListContainer > h3 {
  /* margin: 10px; */
  padding: 10px;
}

.Settings {
  /* margin: 10px; */
}

.Settings h3 {
  padding: 10px;
}

.Settings > p {
  margin: 10px;
  margin-top: 0px;
}

.slider, .radioGroup {
  margin: 10px;
  margin-bottom: 0;
  /* padding: 5px 0; */
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(200, 200, 200);
  /* flex-grow: 1; */
  /* padding: 10px 0; */
}

.slider:last-of-type {
  border-bottom: none;
}

.slider {
  /* padding: 5px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.slider > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 5px 0;
  flex-grow: 1;
}

.slider > div > label {
  /* display: block */
  /* float: left; */
  /* font-weight: 400; */
}

.settingsTitle {
  font-weight: 400;
}

input[type=radio] {
  display: none;
}

.radioGroup {
  /* margin: 10px; */
  /* padding: 5px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radioButtons > label {

}

.radioGroup > select {
  overflow: hidden;
  width: 45%;
  cursor: pointer;
}

.radioGroup > label {
  /* font-weight: 400; */
  padding-bottom: 5px;
}

.slider > div > input[type=number] {
  /* display: inline-block; */
  /* float: right; */
  width: 15%;
  border: none;
  text-align: right;
  cursor: pointer;
  /* color: dodgerblue; */
}

input[type=number]:read-write {
  color: dodgerblue;
}

input[type=number]:read-only {
  color: dimgrey;
  /* font-style: italic; */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.slider input[type=range] {
  /* display: hidden; */
  float: left;
  flex-grow: 1;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
  height: 20px;
  width: 100%;
  /* background: lightgrey; */
}

:disabled::-webkit-slider-thumb {
  box-shadow: -100vw 0 0 100vw dimgrey;
}

.slider input:focus, .radioGroup select:focus {
  outline: none;
}

::-webkit-slider-runnable-track {
    background: lightgrey;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 30px;
  background: white;
  border: 0;
  box-shadow: -100vw 0 0 100vw dodgerblue;
}



.ActionButtons {
  padding: 10px;
  padding-left: 20px;
  /* padding-bottom: 0px; */
}

.ActionButtons * {
  width: 130px;
  margin-right: 20px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  border-radius: 50vh;
  /* border: 1px solid dimgrey; */
  border: none;
  color: dodgerblue;
  font-size: 11pt;
  font-weight: 300;
  /* background-color: rgb(250, 250, 250); */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  outline: none;
  transition: box-shadow 0.2s ease-out;
}

.ActionButtons *:hover {
  box-shadow: 0px 1px 5px dodgerblue;
  transition: box-shadow 0.2s ease-in;
}

.FileList {
  overflow: scroll;
  height: 95%;
  /* border: 1px solid black; */
}

.FileListItem {
  /* margin: 15px; */
  padding-top: 5px;
  padding-bottom: 5px;
  transition: padding-left 0.2s;
  /* border-top: 1px solid lightgray; */
  border-bottom: 1px solid rgb(200, 200, 200);
  /* display: flex; */
  /* align-items: center; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

#FileListSelectedFile {
  color: dodgerblue;
}

.FileListItem:hover {
  padding-left: 5px;
  transition: padding-left 0.25s;
}

.OpenFile {
  /* float: right; */
  /* background-color: white; */
  /* border: none; */
  /* cursor: pointer; */
}

.FileInfo {
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  border-radius: 2px;
  margin: 10px;
  margin-right: 20px;
  width: calc(25vw - 20px);
  height: calc(77vh - 60px);
  float: right;
  /* white-space: nowrap; */
}

.FileInfo h3 {
  /* padding: 10px; */
}

.FileInfo p {
  /* margin: 10px; */
  padding: 10px;
}

.FileInfo > div > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid dodgerblue;
  padding-bottom: 10px;
  margin: 10px;
  margin-bottom: 0px;
  /* width: calc(12.5vw - 20px) */
}

.FileInfoList {
  overflow-wrap: break-word;
  overflow: scroll;
  margin: 10px;
  /* margin-bottom: 50px; */
  /* border: 1px solid black; */
}

.FileInfoList li {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-top: 5px;
  padding-bottom: 5px;
}

.FileInfoList li:last-of-type {
  border-bottom: none;
}

#featuresHeader {
  font-weight: 400;
  border-bottom: none;
  /* margin-bottom: 50px; */
}

.FileInfoTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.column {
  display: flex;
  flex-direction: column;
  /* max-width: 100%; */
  overflow: hidden;
  /* white-space: wrap; */
  /* width: 50%; */
}

.cell {
  /* display: table-cell; */
  /* width: 50%; */
  /* overflow: wrap; */
  padding-top: 5px;
  padding-bottom: 5px;
  color: dimgrey;
  -webkit-user-select: none;
}

.cell.value {
  color: dodgerblue;
  text-align: right;
}

.column > .cell {
  /* width: 100%; */
}

.column > .cell:last {
  padding-top: 0;
  text-align: right;
  /* color: dodgerblue; */
}

.cell.feature {
  font-weight: 400;
}

.column > .cell.feature {
  padding-bottom: 0;
}

.cell.value {
  text-align: right;
  color: dodgerblue;
}

.row:last {
  border-bottom: none;
}

.UserSelection {
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(200, 200, 200);
  border-radius: 2px;
  margin: 20px;
  margin-top: 10px;
  width: calc(100vw - 40px);
  height: calc(15vh - 30px);
  /* height: 4vw; */
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.UserSelection * {
  cursor: pointer;
}

.UserSelectionSlot {
  padding: 10px;
  margin: 10px;
  border: none;
  box-shadow: 0px 1px 2px grey;
  border-radius: 2px;
  display: flex;
  flex-grow: 1;
  width: 12.5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.UserSelectionSlot:hover {
  box-shadow: 0px 1px 5px dodgerblue;
}

.UserSelectionSlot > p {
  color: dimgrey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserSelectionSlot:hover > p {
  color: dodgerblue;
}

.UserSelectionSlotEmpty {
  padding: 10px;
  margin: 10px;
  border: 1px grey dashed;
  border-radius: 2px;
  display: flex;
  flex-grow: 1;
  width: 12.5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.UserSelectionSlotEmpty > p {
  color: grey;
  font-style: italic;
}
