* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 10pt;
  font-weight: 200;
  /* font-size: 1em; */
}

html {
  background-color: rgb(250, 250, 250);
}

h3 {
  font-weight: 200 !important;
  color: dodgerblue;
  font-size: 1.5em;
  cursor: default;
  -webkit-user-select: none;
}

ul, p, input, span {
  list-style: none;
  color: dimgrey;
  cursor: default;
  -webkit-user-select: none;
}

span {
  padding: 10px;
}

.TitleBar {
  width: 100vw;
  height: 30px;
  display: block;
  background-color: white;
  display: table;
  -webkit-app-region: drag;
}

.TitleBar p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: dodgerblue;
  font-weight: 200;
  /* height: inherit; */
}

.MenuBar {
  width: 100vw;
  height: 8vh;
  display: block;
  background-color: white;
  /* background-color: rgb(250, 250, 250); */
  box-shadow: 0px 4px 4px rgb(230, 230, 230);
  /* border-radius: 2px; */
  margin-bottom: 10px;
  /* -webkit-app-region: drag; */
}

.Map {
  /* border-style: solid;
  border-width: 3px;
  border-color: lightgrey; */
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(220, 220, 220);
  border-radius: 2px;
  margin: 10px;
  width: calc(50vw - 40px);
  height: calc(77vh - 60px);
  float: left;
}

.Map > * {
  /* padding: 10px; */
}

.Map div * {
  padding: 10px;
}

.Drawing {
  padding: 0;
  height: inherit;
  width: inherit;
}

.Node {
  /* margin: 10px; */
  /* fill: rgb(240, 240, 240); */
  fill: lightgrey;
  /* fill: dimgrey; */
  stroke: rgb(230, 230, 230);
  stroke-width: 1px;
  /* transition: fill 0.2s ease-out; */
}

.Node:hover {
  /* fill: rgb(230, 230, 230); */
  /* transition: fill 0.1s ease-in; */
}

.SubNode {
  /* fill: rgb(230, 230, 230); */
  fill: white;
  /* stroke: grey; */
  transition: stroke 0.1s ease-out, fill 0.05s ease-out;
}

.SubNode:hover {
  /* fill: dodgerblue; */
  stroke: dodgerblue;
  stroke-width: 1.5px;
  transition: stroke 0.1s ease-in;
}

#SubNodeSelected {
  /* fill: rgb(230, 230, 230); */
  fill: dodgerblue;
  stroke: dodgerblue;
  transition: fill 0.05s ease-in;
}

.label {
  fill: dodgerblue;
  cursor: default;
  -webkit-user-select: none;
}

.FileListContainer{
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(220, 220, 220);
  border-radius: 2px;
  margin: 10px;
  margin-left: 20px;
  width: calc(25vw - 20px);
  height: calc(77vh - 60px);
  float: left;
  white-space: nowrap;
}

.FileList {
  margin: 10px;
}

.FileListContainer> * {
}

.FileListContainer> h3 {
  /* margin: 10px; */
  padding: 10px;
}

.ActionButtons {
  padding: 10px;
  padding-left: 20px;
  /* padding-bottom: 0px; */
}

.ActionButtons * {
  width: 120px;
  margin-right: 20px;
  padding: 10px 0 10px 0;
  cursor: pointer;
  border-radius: 50vh;
  /* border: 1px solid dimgrey; */
  border: none;
  color: dodgerblue;
  /* background-color: rgb(250, 250, 250); */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(220, 220, 220);
  outline: none;
  transition: box-shadow 0.2s ease-out;
}

.ActionButtons *:hover {
  box-shadow: 0px 1px 5px dodgerblue;
  transition: box-shadow 0.2s ease-in;
}

.FileList {
  overflow: scroll;
  height: 85%;
  /* border: 1px solid black; */
}

.FileListItem {
  /* margin: 15px; */
  padding-top: 5px;
  padding-bottom: 5px;
  transition: padding-left 0.2s;
  /* border-top: 1px solid lightgray; */
  border-bottom: 1px solid rgb(220, 220, 220);
  /* display: flex; */
  /* align-items: center; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
}

#FileListSelectedFile {
  color: dodgerblue;
}

.FileListItem:hover {
  padding-left: 5px;
  transition: padding-left 0.25s;
}

.OpenFile {
  /* float: right; */
  /* background-color: white; */
  /* border: none; */
  /* cursor: pointer; */
}

.FileInfo {
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(220, 220, 220);
  border-radius: 2px;
  margin: 10px;
  margin-right: 20px;
  width: calc(25vw - 20px);
  height: calc(77vh - 60px);
  float: right;
  /* white-space: nowrap; */
}

.FileInfo h3 {
  padding: 10px;
}

.FileInfo p {
  /* margin: 10px; */
  padding: 10px;
}

.FileInfo > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FileInfoList {
  overflow-wrap: break-word;
  overflow: scroll;
  margin: 10px;
  /* margin-bottom: 50px; */
  /* border: 1px solid black; */
}

.FileInfoList li {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-top: 5px;
  padding-bottom: 5px;
}

#featuresHeader {
  font-weight: 400;
  border-bottom: none;
  /* margin-bottom: 50px; */
}

.UserSelection {
  /* border: 1px solid grey; */
  background-color: white;
  box-shadow: 0px 1px 5px rgb(220, 220, 220);
  border-radius: 2px;
  margin: 20px;
  margin-top: 10px;
  width: calc(100vw - 40px);
  height: calc(15vh - 30px);
  /* height: 4vw; */
  position: fixed;
  left: 0;
  bottom: 0;
  /* float: left; */
}

.UserSelection > * {
  padding: 10px;
}
